.hero {
    background-color: var(--background-primary);

    .containerHero {
        max-width: 1224px;
        width: 100%;
        height: calc(100vh - 124px);

        display: flex;
        align-items: center;
        justify-content: center;

        .heroCall {
            margin-right: 228px;

            .heroTitle {
                font-family: "Palanquin Dark", sans-serif;
                font-size: 40px;
                line-height: 66px;
                letter-spacing: 10px;
                text-align: center;
                margin-bottom: 36px;
                text-shadow: var(--mainTextShadow);
            }

            .heroButton {
                display: block;
                margin: 0 auto;
                width: 370px;
                background-color: #2fb466;
                font-size: 24px;
                font-family: "Palanquin Dark", sans-serif;
                border: none;
                padding: 8px 0;
                border-radius: 12px;
                letter-spacing: 5px;
                cursor: pointer;
                box-shadow: 3px 4px 18px #000;
                transition: background-color .3s ease;

                &:hover {
                    background-color: #2ECC71;
                }

            }
        }

        .heroCarrossel {
            width: 550px;
            text-align: center;

            .slides {
                display: flex;
                overflow: hidden;
                margin-bottom: 18px;
                input {
                    display: none;
                }

                .slide1:checked ~ .heroCarrosselImg {
                    left: 0;
                }


                .slide2:checked ~ .heroCarrosselImg {
                    left: -100%;
                }

                .slide3:checked ~ .heroCarrosselImg {
                    left: -200%;
                }

                .heroCarrosselImg {
                    position: relative;
                    left: 0;
                    /* margin:0 110px; */
                    transition: all 1s ease;
                    transform: translateX(0) rotate(10deg);
                    filter: drop-shadow(5px 5px 13px #000);

                    animation: carrossel 3s ease-in-out;

                    width: 100%;
                    /* height: 100%; */
                }

                /* .move1 {

                } */

            }
            .slideButton {
                label {
                    position: relative;
                    display: inline-block;
                    font-family: sans-serif;
                    width: 16px;
                    height: 16px;
                    margin-right: 12px;
                    border-radius: 15px;
                    cursor: pointer;
                    border: 2px solid #fff;
                    padding: 8px;

                    span {
                        display: inline-block;
                        transition: background-color .3s ease;
                        width: 12px;
                        height: 12px;
                        border-radius: 8px;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                    }

                    &:hover span {
                        background-color: #fff;
                    }
                }
            }

        }
    }
}

/* @keyframes carrossel {
    50% {
        transform: translateX(-550px) rotate(10deg);
    }
    100% {
        transform: translateX(500px) rotate(10deg);
    }
} */

/* @keyframes carrossel2 {
    100% {
        transform: translateX(500px) rotate(10deg);
    }
} */