.hero {
    background-color: var(--background-primary);

    .containerHero {
        max-width: 1224px;
        width: 100%;
        height: calc(100vh - 124px);

        display: flex;
        align-items: center;
        justify-content: center;

        .heroCall {
            margin-right: 228px;

            .heroTitle {
                font-family: "Palanquin Dark", sans-serif;
                font-size: 40px;
                line-height: 66px;
                letter-spacing: 10px;
                text-align: center;
                margin-bottom: 36px;
                text-shadow: var(--mainTextShadow);
            }

            .heroButton {
                display: block;
                margin: 0 auto;
                width: 370px;
                background-color: #2fb466;
                font-size: 24px;
                font-family: "Palanquin Dark", sans-serif;
                border: none;
                padding: 8px 0;
                border-radius: 12px;
                letter-spacing: 5px;
                cursor: pointer;
                box-shadow: 3px 4px 18px #000;
                transition: background-color .3s ease;

                &:hover {
                    background-color: #2ECC71;
                }

            }
        }

        .heroCarrossel {
            width: 550px;
            text-align: center;
        }
    }
}
