.hero {

    .containerHero {
        max-width: 1224px;
        width: 100%;
        height: calc(100vh - 204px);

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            height: calc(100vh - 44px);
            width: 90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .heroCall {
            margin-right: 228px;

            @media (max-width: 768px) {
                margin-right: 0;

            }

            .heroTitle {
                font-family: "Playfair Display", serif;
                letter-spacing: 10px;
                text-align: center;
                margin-bottom: 36px;
                font-size: 64px;
                text-shadow: var(--mainTextShadow);

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }

            .heroButton {
                display: block;
                margin: 0 auto;
                width: 370px;
                background-color: #ff914c;
                font-size: 24px;
                font-family: "Palanquin Dark", sans-serif;
                border: none;
                padding: 8px 0;
                border-radius: 12px;
                letter-spacing: 5px;
                cursor: pointer;
                box-shadow: 3px 4px 18px #000;
                transition: background-color .3s ease;

                @media (max-width: 768px) {
                    width: 100%;
                }

                &:hover {
                    background-color: #2ECC71;
                }

            }
        }

        .heroCarrossel {
            width: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}
