@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;700&display=swap');

.background {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
        img {
            width: 200px;
        }
    }

    .headerImgOne,
    .headerImgTwo {
        width: 120px;
    }

    .imageContainerLeft {
        @media (max-width: 768px) {
            display: none;
        }

        .headerImgOne {
            translate: 50px 5px;
            rotate: 10deg;
        }

        .headerImgTwo {
            translate: 10px 40px;
            rotate: 10deg;
        }
    }

    .imageContainerRight {
        @media (max-width: 768px) {
            display: none;
        }

        .headerImgOne {
            translate: -10px 40px;
            rotate: -10deg;
            /* transform: translate(-10px, 40px); */

        }

        .headerImgTwo {
            translate: -50px 5px;
            rotate: -10deg;
        }
    }
}

.navheader {
    /* padding: 0 22px; */


    .navheaderList {
        padding: 18px;
        display: flex;
        justify-content: space-around;
        border: 2px solid #fff;
        border-radius: 16px;
        /* margin: 0 150px; */

        .navheaderListItem {


            &:nth-child(2) {
                position: relative;

                a::after {
                    position: absolute;
                    content: '>';
                    display: inline-block;
                    font-size: 32px;
                    margin-left: 12px;
                    transform: rotate(90deg);
                    text-shadow: none;
                }
            }

            a {
                font-size: 24px;
                font-family: "Palanquin Dark", sans-serif;
                text-shadow: var(--mainTextShadow);
            }

            &:nth-child(2) {
                margin: 0 168px;
            }
        }
    }
}