* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: normal;

}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.gackgourndPrimary {
    background: linear-gradient(var(--background-primary));
}

:root {
    --background-primary: #E8803F, #8b4a22;
    --mainTextShadow: 4px 4px 8px #000;
}
