* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: normal;

}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --background-primary: #2C5F8E;
    --mainTextShadow: -6px 4px 18px #000;
}
